---

---

<div class="about-content">
  <div class="about-text">
    <div class="about-text-title">
      <h1>I make shapes appear on the web.</h1>
    </div>
    <div class="about-text-body">
      <p>
        Hey there! I'm Daniel - a school-taught Software Engineer with a
        B.S. in Computer Science, and a self-taught web nerd working 
        as a Software Engineer on the development team
        at <a href="https://lattice.com" target="_blank">Lattice</a>. So, to say <em
          >"I make shapes appear on the web"</em
        > is a bit of an oversimplification of what I do, but it captures the essence of what I love most -
        building delightful user experiences.
        I'm also a verifiable coffee snob, but I digress...
      </p>
    </div>
  </div>
  <img
    class="headshot"
    src="./assets/profilepic.jpeg"
    alt="Headshot of Daniel Holthus"
  />
</div>

<style lang="scss">
  .about-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-text {
    margin-top: -30px;
  }

  .about-text-title {
    margin-bottom: 20px;
    border: 1px solid #222222;
    padding: 12px 30px;
    background-color: #2b60ff;
    border-radius: 20px;
    text-align: center;
    h1 {
      color: var(--gray-900);
      font-size: 6vw;
    }
  }

  .about-text-body {
    padding: 0 1rem;
    font-size: 1.1rem;
  }

  .headshot {
    position: relative;
    z-index: -1;
    width: 75%;
    border: 2px solid #222222;
    border-radius: 20px;
    background-color: #e9e1dc;
  }

  img {
    filter: contrast(60%);
    // opacity: 50%;
  }

  /* Desktop styles */
  @media (min-width: 40em) {
    .about-text-title {
      margin-bottom: 20px;
      border: 1px solid #222222;
      padding: 12px 30px;
      background-color: #2b60ff;
      border-radius: 20px;
      text-align: start;
      h1 {
        color: var(--gray-900);
        font-size: 4.3vw;
      }
    }

    .about-content {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;
    }

    .about-text {
      position: relative;
      transform: translate(30px, 12px);
      width: 60%;
    }

    .about-text-body {
      padding: 0 5rem 0 2rem;
      font-size: max(1.5vw, 0.9rem);
    }

    .headshot {
      transform: translateX(-30px);
      width: max(30%, 300px);
    }
  }
</style>
