---

---

<div class="about-content">
  <div class="about-text">
    <div class="about-text-title">
      <h1>I make shapes appear on the web.</h1>
    </div>
    <div class="about-text-body">
      <p>
        Hey there! I'm Daniel - I'm a school-taught Software Engineer with a
        B.S. in Computer Science, and I am a self-taught web developer currently
        working as a Software Engineer and Dev Lead on the web application team
        at FloSports. So, I suppose to say <em
          >"I make shapes appear on the web"</em
        > is an oversimplification of what I do. On on every project I work on, I
        always strive to improve my efficiency while also getting even the smallest
        details <em>just</em> right.
      </p>
    </div>
  </div>
  <img
    class="headshot"
    src="./assets/headshot.png"
    alt="Headshot of Daniel Holthus"
  />
</div>

<style lang="scss">
  .about-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-text {
    margin-top: -30px;
  }

  .about-text-title {
    margin-bottom: 20px;
    border: 1px solid #222222;
    padding: 12px 30px;
    background-color: #2b60ff;
    border-radius: 20px;
    text-align: center;
    h1 {
      color: var(--gray-900);
      font-size: 6vw;
    }
  }

  .about-text-body {
    padding: 0 1rem;
    font-size: 1.1rem;
  }

  .headshot {
    position: relative;
    z-index: -1;
    width: 75%;
    border: 2px solid #222222;
    border-radius: 20px;
    background-color: #e9e1dc;
  }

  /* Desktop styles */
  @media (min-width: 40em) {
    .about-text-title {
      margin-bottom: 20px;
      border: 1px solid #222222;
      padding: 12px 30px;
      background-color: #2b60ff;
      border-radius: 20px;
      text-align: start;
      h1 {
        color: var(--gray-900);
        font-size: 4.3vw;
      }
    }

    .about-content {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;
    }

    .about-text {
      position: relative;
      transform: translate(30px, 12px);
      width: 60%;
    }

    .about-text-body {http://localhost:4321/assets/curved-line.svg
      padding: 0 5rem 0 2rem;
      font-size: max(1.5vw, 0.9rem);
    }

    .headshot {
      transform: translateX(-30px);
      width: max(30%, 300px);
    }
  }
</style>
