---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>&copy; {currentYear} Daniel Holthus</p>
		<span class="separator">|</span>
		<p>
			Proudly designed & developed by Daniel Holthus in Springdale, AR with <a href="https://astro.build/" target="_blank">Astro.js</a>
			<Icon icon="rocket-launch" size="1.2em" />
		</p>
	</div>
	<p class="socials">
		<a href="https://www.linkedin.com/in/daniel-holthus/" target="_blank"> LinkedIn</a>
		<a href="https://github.com/danielholthus" target="_blank"> GitHub</a>
		<a href="/assets/DanielHolthus_Resume.pdf" target="_blank"> Resume</a>
	</p>
</footer>
<style lang="scss">
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-base);
		border-top: 2px solid var(--gray-0);
	}

	footer a {
		position: relative;
		text-decoration: none;
		&:hover {
			color: var(--gray-0);
		}
	}

	.separator {
		visibility: hidden;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 5rem;
			text-align: start;
			font-size: var(--text-sm);
		}

		.group {
			flex-direction: row;
			flex-wrap: wrap;
		}

		.socials {
			justify-content: flex-end;
		}
	}

	@media (min-width: 1139px) {
		.separator {
			visibility: visible;
		}
	}
</style>
