---
interface Props {
	title?: string;
}

const { title } = Astro.props;
---
<div class="hero gap-4 full-height">
	<div id="hero-square"></div>
	<div id="hero-circle"></div>
	<div id="hero-corner"></div>
	<div class="hero-text">
		{
			title 
				?	<h1 class="hero-title highlight">{title}</h1> 
				: <h1 class="hero-title highlight letter-spans-container"><span>d</span><span>a</span><span>n</span><span>i</span><span>e</span><span>l</span>&nbsp<span>h</span><span>o</span><span>l</span><span>t</span><span>h</span><span>u</span><span>s</span></h1>
					<div id="typing-text-container">
						<span>
							<span class="typing-text"></span>
							<span class="typing-text-cursor">&nbsp</span>
						</span>
					</div>
		}
		
	</div>
</div>

<script>
	/* Typing text effect */
	const typedTextSpan = document.querySelector<HTMLElement>('.typing-text')!
	const cursorSpan = document.querySelector<HTMLElement>(".typing-text-cursor")!
	const textArray = ["fullstack software engineer", "dev lead", "computer science graduate", "coffee overconsumer"]
	const typingDelay = 70
	const erasingDelay = 35
	const newTextDelay = 1500
	let textArrayIndex = 0
	let charIndex = 0
	function erase() {
		if (charIndex > 0 && !!cursorSpan && !!typedTextSpan) {
			if (!cursorSpan.classList.contains("typing")) cursorSpan?.classList.add("typing")
			typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex - 1)
			charIndex--
			setTimeout(erase, erasingDelay)
		} else {
			cursorSpan!.classList.remove("typing")
			textArrayIndex++
			if (textArrayIndex >= textArray.length) textArrayIndex = 0
			setTimeout(type, typingDelay + 1000)
		}
	}
	function type() {
		if (charIndex < textArray[textArrayIndex].length) {
			if (!!cursorSpan && !cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing")
			if (!!typedTextSpan) typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex)
			charIndex++
			setTimeout(type, typingDelay)
		} else {
			cursorSpan!.classList.remove("typing")
			setTimeout(erase, newTextDelay)
		}
	}
	document.addEventListener("DOMContentLoaded", function () {
		if (!!cursorSpan && !!typedTextSpan) {
			setTimeout(type, 1000)
		}
	})

	/* Header Letter Effect */ 
	const letters = document.querySelectorAll<HTMLElement>('.letter-spans-container span')
	letters.forEach((letter) => {
		letter.addEventListener('click', () => {
			var randomColorOne = '#' + Math.floor(Math.random()*16777215).toString(16); // Generating a random hex color

			letter.style.color = randomColorOne;
			// @ts-ignore-error
			letter.style['-webkit-text-stroke'] = '2px black';
		})
	})
</script>

<style lang="scss">
	/* Default styles here */
	.hero {
		position: relative;
		border-bottom: 2px solid #222222;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#hero-square {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(-1.5rem, 50%);
		width: 50vw;
		height: 50vw;
		background-color: var(--accent-blue);
		border: 2px solid #222222;
		border-radius: 10%;
	}

	#hero-corner {
		position: absolute;
		bottom: 100%;
		left: 100%;
		transform: translateX(-50%) translateY(50%) rotate(45deg);
		width: 60vw;
		height: 60vw;
		background-color: #168f22;
		border: 2px solid #222222;
		border-radius: 5%;
	}

	#hero-circle {
		position: absolute;
		top: 15%;
		left: 0;
		transform: translateX(-50%);
		width: 40vw;
		height: 40vw;
		background-color: var(--accent-regular);
		border-radius: 50%;
		border: 2px solid #222222;
	}

	#typing-text-container {
		color: transparent;
		-webkit-text-stroke: 1px rgb(58, 58, 58);
		font-weight: 500;
		font-size: 5vw;
		text-wrap: nowrap;
		position: absolute;
		top: 100%;
		left: 5%;
	}

	.hero-text {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-wrap: nowrap;
	}

	.hero-title {
		font-size: 12vw;
		color: var(--gray-0);
		& > span {
			cursor: pointer;
			-webkit-user-select: none; 
			user-select: none;
			&:hover {
				color: transparent;
				-webkit-text-stroke: 2px var(--gray-0);
			}
		}
	}

	.typing-text-cursor {
		display: inline-block;
		width: 2px;
		background-color: rgb(21, 21, 21);
		animation: blink 1s infinite;
	}

	.typing-text-cursor.typing {
		animation: none;
	}

	@media (min-width: 30em) {
		#hero-circle {
			width: 33vw;
			height: 33vw;
		}
	}

	/* Desktop styles */
	@media (min-width: 50em) {
		#hero-square {
			width: 25dvw;
			height: 25dvw;
		}
		#hero-corner {
			width: 30dvw;
			height: 30dvw;
		}
		#hero-circle {
			width: 20dvw;
			height: 20dvw;
		}
		#typing-text-container {
			font-size: 3vw;
		}
		.hero-title {
			font-size: 9vw;

		}
	}
</style>
